*{margin: 0px;
 padding: 0px;}
body{
    height: max-content;
    font-family: sans-serif;
    
}

.section1{
    margin: 5px;
}
h1{
    margin-left: 50px;
    width: 300px;
    text-align: center;
    margin-bottom: 10px;
}
h1::before{
    background-color: white;
}
h2{
    margin-bottom: 25px;
    margin-left: 15px;
    background-color: cornsilk;

    font-weight: 500;
    margin-left: 50px;

    border: 1px solid lightgray;
    
    width: 300px;
    text-align: center;
  
}
.section2{
    
}
h2:hover {
    color: red;
    cursor: pointer;
}



.section3>h2{
  
  margin-bottom: 5px;
   
}
