  *{
    margin: 0px;
    padding: 0px;
  }
  p{
    line-height: 140%;
    font-size: 24px;
    
  }
  h2{
    margin-top: 64px;
    font-size: 32px;
  }

  body{
        font-family: serif;
        line-height: 140%;
        margin-top:166px;
        
  }

  .main{
        width: 1608px;
        height: 2429;
        margin: 0 auto;
        
 }

 h1{
    font-size: 48px;
    font-weight: 400;
    text-align: center;
 }

 .text1{
    margin-top: 72px;
    height: 136px;
    
 }
 .text2{
    margin-top: 72px;
    height:272px;
 }
 .text3{
    margin-top: 71px;
    height: 102px;
    
    border: 1px solid black;
    border-radius: 24px;

    padding: 72px;

    width: 1464px;
 }
 .text4{
    margin-top: 72px;
    height: 102px;
 }
 
